@import "./src/input.css";

@font-face {
  font-family: windowsRegular;
  src: url("./assets/fonts/Windows-Regular.ttf");
}

* {
  font-family: windowsRegular;
  letter-spacing: 0.2ch;
  font-weight: 400;
}

html,
body {
  margin: 0;
}

header {
  background: linear-gradient(
    90deg,
    rgba(12, 28, 90, 1) 28%,
    rgba(190, 204, 232, 1) 96%
  );
}

.border-btn {
  border-top: solid 2px white;
  border-right: solid 2px black;
  border-bottom: solid 2px black;
  border-left: solid 2px white;
}

.border-btn--clicked {
  border-top: solid 2px black;
  border-left: solid 2px black;
}

.border-search {
  border-top: solid 2px black;
  border-right: solid 2px black;
  border-bottom: solid 2px gray;
  border-left: solid 2px black;
}
